@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    
}

#hero{
    background-image: url('../dist/img/KathyHenryHeroImage-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#heropersonal{
    background-image: url('../dist/img/Commercialhero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#herowealth{
    background-image: url('../dist/img/hero-wealth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#heroabout{
    background-image: url('../dist/img/about-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#dei{
    background-image: url('../dist/img/deiimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#community{
    background-image: url('../dist/img/DEIimage2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media(max-width: 576px){
    #hero{
        background-image: url('../dist/img/KathyHenryHeroImage-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

    #cta{
        background-image: url('../dist/img/bg-simplify-section-mobile.svg');
    }
}

/*. Hamburger Menu.*/

.hamburger{
    cursor:pointer;
    width:24px;
    height: 24px;
    transition: all 0.25s;
    position:relative
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top:0;
    left:0;
    width:24px;
    height: 3px;
    background:#444;
    transform:rotate(0);
    transition: all 0.5s;
}
.hamburger-middle{
    transform: translateY(7px);
    
}
.hamburger-bottom{
    transform: translateY(14px);
    
}
.open{
    transform: rotate(90deg);
    transform: translateY(0px);

}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
    display: none;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}


